h1 {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
}


h2 {
  color: white;
  font-style: italic;
  font-align: center;
}
li{
  color: white;
}
p {
  color:white;
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
a {
  font-size: 20px;
  color: #FAF8D2;
  font-family: serif;
  font-weight: bold;
}
a:hover {
  color: red;
}
body{
  background-color: #6E0505;
  margin: 0px 60px 0px 60px;
}
