h1 {
  color: white;
}


h2 {
  color: white;
  font-style: italic;
  font-align: center;
}
li{
  color: white;
}
p {
  color:white;
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
a {
  color: #FAF8D2;
}
body{
  background-color: #303030;
}
